body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to top, rgb(149, 148, 148) 25%,rgb(194, 193, 193) 25%);
  display: flex;
}

.text-bubble {
  position: absolute;
  width: clamp(400px, 40vw, 760px);
  max-width: 520px;
  min-width: 220px;
  z-index: 20;
  left: 93%;
  top: 42%;
  transform: translate(-50%, -100%);
  pointer-events: none;
}

.bubble-pic {
  width: 100%;
  height: auto;
  display: block;
}

.text-bubble p {
  position: absolute;
  inset: 22% 37% 34% 34%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: clamp(12px, 1.1vw, 18px);
  line-height: 1.0;
  color: black;
}


/* intro container */
.intro {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
  transform 1.2s cubic-bezier(.4,0,.2,1),
  opacity 1.2s ease;
  will-change: transform, opacity;
}

.scene {
  position: relative;
  width: min(1100px, 100vw);
}

.intro.zooming {
  opacity: 0;
}

/* desk image */
.desk-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
  transform: scale(1.1);
  margin-top: 20px;
}

/* invisible clickable screen */
.screen-hitbox {
  position: fixed;
  cursor: pointer;
  z-index: 10;
}

/* portfolio */
.portfolio {
  position: fixed;
  inset: 0;
  background: white;
  color: black;
  padding: 40px;
  opacity: 0;
  transition: opacity 0.8s cubic-bezier(.4,0,.2,1);
  pointer-events: none;
}

.portfolio.visible {
  opacity: 1;
  pointer-events: auto;
}
